@import '../cards.scss';

#toast-tan-card {
    background: linear-gradient(45deg, #914d1d, #f0d798);
    color: white;

    .card-content {
        #tan-value {
            font-size: 1.8em;
        } 

        #tan-slider {
            input {
                width: 100%;
            }
        }
    }
}