#manual-control-wrapper {
    font-size: 1.75em;

    .channel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        
        button {
            width: 20%;
        }
    }
}